#preloader {
	position: relative;
	background-image: url("../images/barber.png");
	background-repeat: no-repeat;
	background-size: 15% 100%;
	background-position: 49.5% 0%;
	height: 400px;
	#barber-preloader {
		position: relative;
		top: 38.5%;
		width: 8.5%;
		left: 0.1%;
		height: 43%;
		border: 2px solid black;
		overflow: hidden;
		@include center-block;
		div {
			position: relative;
			height: 25%;
			width: 100%;
			border: 1px solid #000;
			@include skew(-25deg);
			box-shadow:inset 35px 0px 20px rgba(0, 0, 0, 0.5);
		} 
		div:nth-child(even) {
			background-color: white;
		}
		div:nth-child(2n+4) {
			height: 10%;
			background-color: #67C8FF;	
		}
		div:nth-child(4n+4) {
			height: 10%;
			background-color: red;	
		}
		div:first-child {
			margin-top: -200%;
		}
	}
	h2 {
		position: relative;
		font-size: 36px;
		color: white;
		text-shadow: 0 0 5px #000;
		text-align: center;
	}
}