.form-wrapper {
	@include scale;
	.beard-name {
		text-align: center; 
		@include center-block;
		width: 50%;
	}	
	.fileinput-container {
		width: 50%;
	}
	.beard-type-container {
		.drop-box {
			width: 49%;
			height: 200px;
			background: grey;
			div {
				position: relative;
				background: #fff;
				opacity: 0.5;
				width: 50%;
				height: 200px;
				@include center-block;
			}
		}
		span {
			clear: both;
		} 
	}
}

.error.active {
	display: block;
}