
// theme

 $beard-brown: #836953;

 //mixins

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



 /* Medium Devices, Desktops */
 $desktop-width: 992px;
 /* Small Devices, Tablets */
 $tablet-width: 768px;
 /* Extra Small Devices, Phones */ 
 $phone-width: 480px;


@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin phone {
  @media (max-width: $tablet-width - 1px) {
    @content;
  }
}


 //defaults
 #content {
 
 }

#content {
	float: none; 
	margin: 0 auto;
	margin-top: 180px;
 	@include desktop {
		width: 1000px;
	}
	@include tablet {
		width: 100%;
	}
	@include phone {
		width: 100%;
	}
}

 //imports

 @import "nav";
 @import "slider";
 @import "form";