	#main-nav {
	position: fixed;
	z-index: 2;
	top: 0;
	width: 100%;
	@include box-shadow(2, 3, 3, #000);
	div {
		height: 150px;
		background-color: $beard-brown;
		float: none; 
		margin: 0 auto;
		@include scale;
		span {
			position: relative;
			line-height: 20px;
			@include desktop {
				display: inline-block;
				height: 100%;
				width: 49%;
			}
			@include tablet {
				height: 75px;
				display: block;
				margin-top: -21px;
			}
			@include phone {
				height: 75px;
				display: block;
				margin-top: -21px;
			}
			h1 {
				color: #000;
				text-align: center;
				line-height: 1;
				@include desktop {
					margin-left: 50px;
				}
				img {
					height: 150px;
					display: inline-block;
				}
			}
		}
	}
}

#main-nav {
	div {
		@include desktop {
			span.active:first-child {
				background-image: url("../images/beard-sil.png");
			}
		}
		span.active {
			@include transition(background-image, 0.5s, ease-in-out);
			background-color: #000;
			@include desktop {
				background-repeat: no-repeat;
				background-position: 5% 5%; 
				background-size: 140px 140px;
				width: 50.5%;
			}
			@include tablet {
				width: 100%;
				margin-top: -21px;
			}
			@include phone {
				width: 100%;
				margin-top: -21px;
			}
			h1 {
				color: #fff;
			}
		}
	}
}
