#main-nav {
	position: fixed;
	z-index: 2;
	top: 0;
	width: 100%;
	ul {
		height: 150px;
		background-color: $beard-brown;
		float: none; 
		margin: 0 auto;
		@include desktop {
			width: 1000px;
		}
		@include tablet {
			width: 100%;
		}
		@include phone {
			width: 100%;
		}
		li {
			position: relative;
			line-height: 20px;
			@include desktop {
				display: inline-block;
				height: 100%;
				width: 49%;
			}
			@include tablet {
				height: 75px;
				display: block;
			}
			@include phone {

			}
			h1 {
				color: #fff;
				text-align: center;
				img {
					height: 150px;
					display: inline-block;
				}
			}
		}
	}
}

#main-nav {
	ul {
		li.active {
			@include transition(background-image, 0.5s, ease-in-out);
			background-image: url("../images/beard-sil.png");
			background-color: #000;
			background-repeat: no-repeat;
			background-position: 5% 5%; 
			@include desktop {
				background-size: 140px 140px;
			}
			@include tablet {
				background-size: 140px 140px;
			}
		}
	}
}
