<div>
	<div ng-show="showBeards">
		<%- include slider %>
	</div>
	
	<div ng-show="showForm">

		<h2 class="welcome" ng-show="inSession">Hey, {{user.username}}</h2>
		<button class="btn logout" ng-show="inSession" ng-click="logOut()">Logout</button>

		<div ng-hide="inSession">
			<%- include sessions %>
		</div>
		
		<div ng-show="inSession" ng-controller="formCtrl">
		 	<div ng-hide="hasBeard">
				<%- include form %>
			</div>
			<div ng-show="angular.isObjectuser(hasBeard)">
				<%- include edit %>
			</div>
		</div>
	</div>
</div>
