<!doctype html>

<html lang="en" ng-app="app">

	<head>
		<meta charset="UTF-8">
		<title>Beardo</title>
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	</head>

	<body ng-controller="mainCtrl">
			<section ng-controller="sessionCtrl">

				<%- include nav %>

				<div id="content" class="col-lg-12">
						<div class="row">
							<%- body %>
						</div>
				</div>

				<%- include footer %>
				
			</section>
			
<!-- 	plugins -->
			<script src="jquery/dist/jquery.min.js"></script>
			<script src="bootstrap/dist/js/bootstrap.min.js"></script>
			<script src="jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>

<!-- javascript required files  -->
			<script src="javascript/barber-preloader.js"></script>

<!-- 	angular required files --> 
			<script src="angular/angular.min.js"></script>
			<script src="angular-route/angular-route.min.js"></script>
			<script src="ng-file-upload-shim/angular-file-upload-shim.min.js"></script>
			<script src="ng-file-upload/angular-file-upload.min.js"></script>
			<script src="angular-animate/angular-animate.min.js"></script>
			<script src="angular-dragdrop/src/angular-dragdrop.min.js"></script>
			<script src="angular-cookies/angular-cookies.min.js"></script>

			<script src="javascript/angular.min.js"></script>
		
			
	</body>

<html>