<nav id="main-nav" class="col-lg-12">
	<div class="row">
		<ul>
			<li ng-click="clickBeard();" ng-class="{'active': showBeards}">
				<h1>
					Beards
				</h1>
			</li>
			<li ng-click="clickForm();" ng-class="{'active': showForm}">
				<h1>Form</h1>
			</li>
		</ul>
	</div>
</nav>
