<nav id="main-nav" class="col-lg-12">
	<div class="row">
		<span ng-click="clickBeard();" ng-class="{'active': showBeards}">
			<h1>Beardo</h1>
		</span>
		<span ng-click="clickForm();" ng-class="{'active': showForm}">
			<h1 ng-show="inSession">{{user.username}}'s Beardo</h1>
			<h1 ng-hide="inSession">My Beardo</h1>
		</span>
	</div>
</nav>
