<section class="slider-container" ng-controller="sliderCtrl">

	<div ng-show="!slidesLoaded">
		<%- include preloader %>
	</div>

	<div ng-repeat="beard in beards">
		<div class="loading section" ng-show="!slidesLoaded">
			<img class="loading-image" ng-src="images/loading.gif">
			<img class="loading-wheel" ng-src="images/loading-wheel.gif">
		</div>
	<div ng-show="slidesLoaded" >
		<div 	class="viewport" ng-show="isCurrentSlideIndex($index)" >	
			<h2 class="votes" ng-if="beard.average">Ranking : {{ beard.average }}%</h2>
			<h2 ng-if="beard.beardname" ng-show="isCurrentSlideIndex($index)" >{{beard.beardname | capitalize:true}}</h2>
			<img 	class="slide" ng-fade-in ng-src="{{beard.picture}}">
		</div>

		<a class="voting" ng-click="downVote()">
			<div class="vote-down"></div>
		</a>
  	<a class="voting" ng-click="upVote()">
	   	<div class="vote-up"></div>
	  </a>
		<nav id="slider nav">
			<div class="dots-wrapper">
				<span class="dot">
					 <a ng-class="{ 'active': isCurrentSlideIndex($index) }"
	            ng-click="setCurrentSlideIndex($index);"></a>
	       </span>
			</div>
		</nav>		
	</div>
		<div class="comment-wrapper" ng-show="isCurrentSlideIndex($index)">
			<div 	class="comment" 
						ng-repeat="comment in beard.comments">
				<h2>{{comment.comment | capitalize:true}}</h2>
				<h3>{{ comment.created | date:'d MMMM yyyy' : 'UTC' }}</h3>
				<hr>
			</div>
		</div>
	</div>
	<form name="comment_form" ng-show="inSession" ng-submit="submitComment(comment)">
		<input type="text" ng-model="comment.comment"></input>
		<button name="submit">Submit</button>
	</form>
	<button ng-hide="inSession">Sign Up to Comment</button>
</section>

